@model IEnumerable<LiveVideo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signinManager
@{
    ViewData["Title"] = "Home Page";
}
@*<div class="container-fluid h-75" >

                <marquee class="text-dark">Fun Olympic 2022. The city of Bayjing Welcomes You. Watch a wide range of sports enjoy. With Love - Fun Olympic 2022 </marquee>

        </div>*@



<div class="text mt-3">
    <h2 class="display-6">Live Games</h2>

</div>
<div class="container">

    <div class="row pb-3">
        @foreach (var video in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4 ">


                <div class="col-12 p1" style="border:1px solid #008cba; border-radius:5px;">

                    <div class="card">
                        <img src="@video.thumbnail" class="card-img-top rounded " style="height:180px" />
                        <div class="p-1" style="height:100px">

                            <p class="Card-title h5 text-xl-center">@video.Name</p>
                            <p class="Card-title text-secondary text-dark">@video.rivals <span style="color:red;"> 🔴Live Now</span></p>

                        </div>
                        <p class="card-title text-primary fw-bold">@video.description</p>


                        @if (signinManager.IsSignedIn(User))
                        {
                            <a class="btn btn-primary" asp-page="/LiveVideoPlayer" asp-route-id="@video.Id">Watch Now</a>


                        }
                        else
                        {
                            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Watch Now</a>

                        }

                    </div>


                </div>

            </div>

        }
    </div>
</div>
